{% extends 'about_base.html' %}

{% block content %}

    <div id="home" class="banner-area section-padding">
        {% comment %} <div class="bg-overlay black"></div> {% endcomment %}
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello. Welcome to my portfolio.</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Create . Innovative . Learn</h1>
                        <div class="social-media row">
                            <a href="https://www.linkedin.com/in/devodriq-roberts-15a65289/" target='blank'>
                                <div class='social-icon'>
                                    <i class="icon icon-linkedin"></i>
                                    <h2>Linkedin</h2>
                                </div>
                            </a>
                            <a href="https://github.com/dr02651?tab=repositories" target='blank'>
                                <div class='social-icon'>
                                    <i class="icon icon-document"></i>
                                    <h2>Github</h2>
                                </div>
                            </a>
                            <a href="https://public.tableau.com/profile/devodriq.r#!/" target='blank'>
                                <div class='social-icon'>
                                    <i class="icon icon-bargraph"></i>
                                    <h2>Tableau</h2>
                                </div>
                            </a>
                        </div>
                        
                        <a href="#about" class="my-btn-1 welcome-text-btn wow fadeInDown" data-wow-delay="0.6s">View Site</a>
                        <a href="#contact" class="my-btn-2 welcome-text-btn wow fadeInDown" data-wow-delay="0.8s">Contact Me</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    About section #}

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left text-center">
                        <h2 class="section-title">About Me</h2>
                        <div class="line"></div>
                        <h4>{{ about.short_description }}</h4>
                        <p>{{ about.description }}</p>
                        <div class='about-links'>
                        <a href="images/about/cv.jpg" download>Download CV&nbsp;<i class="fa fa-download"></i></a>
                        <a href="#">More About Myself&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile text-center">
                        <img src="{{ about.image.url }}" alt="Profile image" class="img-responsive">
                        <small class='photo-credit'>Photo by Safar Safarov on Unsplash</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Skills Section #}
    <div id="skills" class="section-padding skills-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Skills</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for skill in skills %}

                    <div class="col-md-4 col-sm-4">
                        <div class="single-skill wow fadeInDown" data-wow-delay="0.2s">
                            <i class="icon icon-tools"></i>
                            <h2>{{ skill.name }}</h2>
                            <p>{{ skill.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Recent Works Section #}
    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>Recent Projects</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for work in works %}
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding project">
                        <div class="gallery-items">
                            <a class="view img" href="{{ work.image.url }}">
                                <img src="{{ work.image.url }}" title= "{{work.photo_credit}}"alt="work image">
                            </a>

                            <div class="gallery-text">
                                <h2>{{ work.title }}</h2>
                            </div>
                            
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="file type">
                            <a role="button" href="{{ work.code_url }}" target='blank' class="btn btn-secondary {{work.code_status}}">Code</a>
                            <a role="button"  href="{{ work.notebook_url }}" target='blank' class="btn btn-secondary {{work.notebook_status}}">Notebook</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Contact section #}

    <div class="invitation-area section-padding">
        <div class="container">
            <div class="row">
                <div class="single-invite text-center">
                    <h2>Do you have any project need to be done?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at cupiditate distinctio dolorem
                        dolores impedit, inventore magnam magni nam numquam quidem ratione rem repellendus, saepe?</p>
                    <a href="#contact" class="my-btn-3">Get started</a>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Contact Me</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 box-contact-form">

                    <form id="contact-form" method="post" action="#">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Enter your full name *" required="required"
                                               data-error="Fullname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.4s">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Enter your email *" required="required"
                                               data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Your Message *" rows="4" required="required"
                                                  data-error="Leave a message for me"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-send" value="">Send message</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}