<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devodriq Roberts Portfolio</title>
    {% include 'includes/stylesheets.html' %}
</head>
<body>

<div class="loader_bg">
    <div class="loader"></div>
</div>

<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/"><span>D</span>EVODRIQ <span>R</span>OBERTS<span>.</span> </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li><a class="smooth-menu" href="">Home</a></li>
                <!-- <li><a class="smooth-menu" href="/#about">About</a></li>
                <li><a class="smooth-menu" href="#skills">Skills</a></li>
                <li><a class="smooth-menu" href="#portfolio">Portfolio</a></li>
                <li><a class="smooth-menu" href="#testimonial">Testimonial</a></li>
                <li><a class="smooth-menu" href="#contact">Contact</a></li> -->
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<div class="footer-area">
    <div class="container">
        <div class="social-media row text-center">
            <a href="https://www.linkedin.com/in/devodriq-roberts-15a65289/" target='blank'>
                <div class='social-icon'>
                    <i class="icon icon-linkedin"></i>
                    <h2>Linkedin</h2>
                </div>
            </a>
            <a href="https://github.com/dr02651?tab=repositories" target='blank'>
                <div class='social-icon'>
                    <i class="icon icon-document"></i>
                    <h2>Github</h2>
                </div>
            </a>
            <a href="https://public.tableau.com/profile/devodriq.r#!/" target='blank'>
                <div class='social-icon'>
                    <i class="icon icon-bargraph"></i>
                    <h2>Tableau</h2>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <p>Devodriq Roberts &copy;Copyright 2019</p>
            </div>
        </div>
    </div>
</div>
{% include 'includes/scripts.html' %}
</body>
</html>