{% extends 'base.html' %}

{% block content %}

    <div id="home" class="banner-area section-padding">
        {% comment %} <div class="bg-overlay black"></div> {% endcomment %}
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello. Welcome to my portfolio.</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s"><span class="create">Create</span> . <span class="innovate">Innovative</span> . <span class="learn">Learn</span></h1>
                        <div class="social-media row">
                            <a href="https://www.linkedin.com/in/devodriq-roberts-15a65289/" target='blank'>
                                <div class='social-icon'>
                                    <i class="fa fa-linkedin-square"></i>
                                    <h2>Linkedin</h2>
                                </div>
                            </a>
                            <a href="https://github.com/dr02651?tab=repositories" target='blank'>
                                <div class='social-icon'>
                                    <i class="fa fa-github-square"></i>
                                    <h2>Github</h2>
                                </div>
                            </a>
                            <a href="https://public.tableau.com/profile/devodriq.r#!/" target='blank'>
                                <div class='social-icon'>
                                    <i class="fa fa-bar-chart"></i>
                                    <h2>Tableau</h2>
                                </div>
                            </a>
                        </div>
                        
                        <a href="#about" class="my-btn-1 welcome-text-btn wow fadeInDown" data-wow-delay="0.6s">View Site&nbsp;<i class="fa fa-angle-double-down"></i></a>
                        
                        {% comment %} <a href="#contact" class="my-btn-2 welcome-text-btn wow fadeInDown" data-wow-delay="0.8s">Contact Me</a> {% endcomment %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    About section #}

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left text-center">
                        <h2 class="section-title">About Me</h2>
                        <div class="line"></div>
                        <h4>{{ about.short_description }}</h4>
                        <p>{{ about.description }}</p>
                        <div class='about-links'>
                        <a href="{{ about.cv }}" target='blank' download='D.Roberts_cv'>Download CV&nbsp;<i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile text-center">
                        <img src="../media/about/profile.JPG" alt="Profile image" class="img-responsive">
                        {% comment %} <small class='photo-credit'>Photo by Safar Safarov on Unsplash</small> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Skills Section #}
    <div id="skills" class="section-padding skills-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Technical Skills</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for skill in skills %}

                    <div class="col-md-4 col-sm-4">
                        <div class="single-skill wow fadeInDown" data-wow-delay="0.2s">
                            <i class="icon icon-tools"></i>
                            <h2>{{ skill.name }}</h2>
                            <p>{{ skill.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Recent Works Section #}
    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>Recent Projects</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for work in works %}
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding project">
                        <div class="gallery-items">
                            <a class="view img" href="{{ work.image.url }}">
                                <img src="{{ work.image.url }}" title= "{{work.photo_credit}}"alt="work image">
                            </a>

                            <div class="gallery-text">
                                <h2>{{ work.title }}</h2>
                            </div>
                            
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="file type">
                            <a role="button" href="{{ work.code_url }}" target='blank' class="btn btn-secondary {{work.code_status}}">View Code</a>
                            <a role="button"  href="{{ work.notebook_url }}" target='blank' class="btn btn-secondary {{work.notebook_status}}">View Notebook</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    MOOCs Section #}
    <div id="mooc" class="section-padding moocs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Continued Education</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for mooc in moocs %}

                    <div class="col-md-4 col-sm-4">
                        <div class="single-mooc wow fadeInDown" data-wow-delay="0.2s">
                            <a class='mooc-wrapper' title='View Certificate' target='blank' href="{{ mooc.certificate_link }}">
                                <i class="icon icon-notebook"></i>
                                <h2>{{ mooc.name }}</h2>
                             </a>
                            <p>{{ mooc.issuer }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Contact section #}

    <div id='journey' class="journey-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="journey-header text-center">
                        <h2>My journey...</h2>
                    </div>
                </div>
            </div>
            
            <div class="row journey-row">
                <div class="col-md-4 col-sm-6">
                    <div class="journey-text wow fadeInDown" data-wow-delay="0.2s">
                        <h2>Where i've been.</h2>
                        <p>{{ about.past }}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="journey-text wow fadeInDown" data-wow-delay="0.2s">
                        <h2>What am I doing?</h2>
                        <p>{{ about.current }}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="journey-text wow fadeInDown" data-wow-delay="0.2s">
                        <h2>Goals?</h2>
                        <p>{{ about.future }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Contact Me</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9  contact-content">

                    <form id="contact-form" method="post" action="#">
                        {% csrf_token %}

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Enter your full name *" required="required"
                                               data-error="Fullname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.4s">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Enter your email *" required="required"
                                               data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Your Message *" rows="4" required="required"
                                                  data-error="Please leave a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-send" value="">Send message</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="col-xs-12 col-sm-3  contact-content wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="contact-method">
                        {% for contact in contacts %}
                        <a href="{{ contact.url }}" target='blank' class="contact-method-link">
                            <h4>{{ contact.name }}</h4>
                            <i class="fa fa-{{contact.name}}-square"></i>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

{% endblock %}